.cardwrap {
  padding: 10px 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.card {
  padding: 0px 10px 5px;
  /* border: 1px solid black; */
  background-color: #EBF6F5;
}
.nextpageWrap {
  padding-left: 50px;
}
.nextpageWrap button {
  width: 200px;
  height: 40px;
  background: none;
  border-radius: 30px;
  border-width: 3px;
  border-style: double;
}
.nextpageWrap button:hover {
  border-color: darkviolet;
}