.home-postsomething {
  display: flex;
  justify-content: center;
}
.postsomething-inputwrapper {
  display: flex;
}
.postsomething-inputwrapper textarea {
  font: inherit;
}
.postsomething-inputwrapper button {
  background: none;
  border-radius: 6px;
}