.topnavigation {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 0px 20px;
  /* border-bottom: 5px solid black; */
  background-color: #905494;
  color: #E0D4AD;
}
.buttonAnchor {
  font-size: 25px;
  padding: 5px 18px 10px 18px;
  cursor: pointer;
  text-decoration: none;
  /* color: #E0D4AD; */
  color: black;
  margin: auto;
}
.logo > h1 {
  font-size: 40px;
  cursor: pointer;
}
/* how about we try to incorporate a simple text editor
like most social should have?
1. is there any free library for it?
2. is there any tutorial how to use it on youtube? */

/* after that find out if the capslock activated when user
typing */

/* after that lets try to incorporate a profile image
and how to save it inside mongodb?? */

.loginReg {
  display: flex;
}
.homeLoading {
  text-align: center;
  position: fixed;
  width: 98.4vw;
}
.homeLoadingMain {
  color: whitesmoke;
  background-color: rgb(26, 26, 26);
  width: 11%;
  margin: 2px auto 0px auto;
  border-radius: 5px;
  padding-bottom: 6px;
}

.capsNotif {
  display: flex;
  justify-content: center;
}
.capsNotifMain {
  text-align: center;
  padding: 5px 5px;
}