.home-postsomething {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.postsomething-inputwrapper {
  display: flex;
}
.home-postsomething * {
  z-index: 0;
}
.postsomething-inputwrapper button {
  background: none;
  border-radius: 6px;
}