.home-postsomething {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.postsomething-inputwrapper {
  display: flex;
}
.home-postsomething * {
  z-index: 0;
}
.postsomething-inputwrapper button {
  background: none;
  border-radius: 6px;
  background-color: #36AD9E;
  border: none;
  box-shadow: -3px -3px 0px 0px grey
}
.postsomething-inputwrapper button:hover {
  cursor: pointer;
}
.inputsecret-postbutton {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  padding: 10px 20px;
}
.inputsecret-buttonswrapper {
  position: relative;
  padding-left: 10px;
}
.editor-wrapper {
  height: 250px;
  max-width: 600px;
}

@media only screen and (max-width: 974px) {
  div.tox.tox-tinymce {
    width: 400px !important;
  }
}
@media only screen and (max-width: 766px) {
  .postsomething-inputwrapper {
    flex-direction: column;
  }
  .inputsecret-buttonswrapper {
    height: 122px;
  }
  div.tox.tox-tinymce {
    width: 300px !important;
  }
}
/* error handling */

/* done: */
/* the "next" button in homepage should not invoke the "loading..." */
/* check if there is a length limit for secret, update: limit set to 500 letters */
/* in the user page should have the user quote/about */
/* the user icon in topnav if clicked should show dropdown list of:
1. the user route
2. change username
3. change image */
/* create a template in mynote for a keyboard friendly div / img (tabindex=1 onkeydown if enter then click()) */
/* add "save/bookmark" button in a secret */
/* set overflow for comment section */
/* change input comment into textarea */
/* add comment section in the secret */
/* show the creator image and username on their secrets and comments */
/* creator image and username for profile page for secrets is not ready */
/* user can click to the image or username to see the user image, username and bio */
/* user can only delete its own comment */
/* style post/bookmark buttons */
/* detect if user scrolled far enough so we can show "skip to top" button */
/* add description of limitation on topnav */
/* add default image */