.home-postsomething {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.postsomething-inputwrapper {
  display: flex;
}
.home-postsomething * {
  z-index: 0;
}
.postsomething-inputwrapper button {
  background: none;
  border-radius: 6px;
  background-color: #36AD9E;
  border: none;
  box-shadow: -3px -3px 0px 0px grey
}
.postsomething-inputwrapper button:hover {
  cursor: pointer;
}
.inputsecret-postbutton {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  padding: 10px 20px;
}
.inputsecret-buttonswrapper {
  position: relative;
  padding-left: 10px;
}
.editor-wrapper {
  height: 250px;
  max-width: 600px;
}

@media only screen and (max-width: 974px) {
  div.tox.tox-tinymce {
    width: 400px !important;
  }
}
@media only screen and (max-width: 766px) {
  .postsomething-inputwrapper {
    flex-direction: column;
  }
  .inputsecret-buttonswrapper {
    height: 122px;
  }
  div.tox.tox-tinymce {
    width: 300px !important;
  }
}